

<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Numero</th>
                <th>Posicao</th>
                <th>Selecao</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i<jogadores.length;i++) {  %>
                <tr>
                    <td><%= jogadores[i].id %></td>
                    <td><%= jogadores[i].nome %></td>
                    <td><%= jogadores[i].numero %></td>
                    <td><%= jogadores[i].posicao %></td>
                    <td><%= jogadores[i].selecao %></td>
                    <td>
                        <a href="/alterarJogadores/<%= jogadores[i].id %>">Alterar Jogador</a>
                        <button data-id="<%= jogadores[i].id %>" id="btn-excluir">Excluir Jogador</button>
                    </td>
                </tr>
            <% } %>
        
        </tbody>
    </table>

    <a href="jogadores/cadastro">Cadastrar novos Jogadores</a>
</div>