

<div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sigla</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
                <% for (let i = 0; i < selecoes.length; i++) { %>
                    <tr>
                        <td><%= selecoes[i].id %></td>
                        <td><%= selecoes[i].nome %></td>
                        <td><%= selecoes[i].sigla %></td>
                        <td>
                            <a href="/selecoes/alterar/<%= selecoes[i].sel_id %>" ">
                                Alterar Selecao
                            </a>
                            <button data-id="<%= selecoes[i].sel_id %>">
                                Excluir
                            </button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
    </table>


    <a href="selecoes/cadastro">Cadastrar Novas Selecoes</a>
</div>